<div style="display: flex; flex-direction: column;">
    <div style="display: flex; margin-bottom: 25px;">
        <app-airtable></app-airtable>
        <app-notion></app-notion>
        <app-trello></app-trello>
        <app-google-sheets></app-google-sheets>
    </div>
    <div>
        <button (click)="connect(connectImportId.value)">Connect</button>
        <input #connectImportId placeholder="importId">
    </div>
    <div>
        <button (click)="start(startImportId.value)">start</button>
        <input #startImportId placeholder="importId">
    </div>
</div>