<div style="display: flex; flex-direction: column;">
    <div style="display: flex; margin-bottom: 25px;">
        <app-airtable></app-airtable>
        <app-notion></app-notion>
        <app-trello></app-trello>
        <app-postgres></app-postgres>
    </div>
    <div>
        <button (click)="getColumns(getColumnsImportId.value)">Get Columns</button>
        <input #getColumnsImportId placeholder="importId">
    </div>
    <div>
        <button (click)="import(importId.value)">Import</button>
        <input #importId placeholder="importId">
    </div>
</div>